<app-admin-topbar (expandioBoton)="onExpandedPress($event)"></app-admin-topbar>

<!-- Este es el contenedor que muestra la barra lateral-->
<mat-drawer-container class="example-container" autosize>

  <!-- Por defecto comienza abierto-->
  <mat-drawer opened class="example-sidenav" mode="side" disableClose="true"
              [@openClose]="isExpanded ? 'open' : 'closed'">
    <app-admin-sidebar [isExpanded]="isExpanded"></app-admin-sidebar>
  </mat-drawer>

  <div style="padding: 20px">
    <div style="text-align: center">
      <h1> Bienvenido</h1>
    </div>

    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
