.progress {
  position: absolute;
  right: 45%;
  z-index: 10;
  top: 28%;
}

.container {
  width: 350px;
  height: 300px;
  display: block;
  margin-left:auto;
  margin-right:auto;
  vertical-align:middle;
  top: 10%;
}

.loading {
  opacity: 0.5;
}

.back {
  background-color: #3f51b5;
  height: 100%;
  width: 100%;
}
